@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    background-color: black;
    background-image: url("HG_Tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 42rem;
}

div {
    margin-left: 12rem;
    text-align: left;
    transform: translateY(42rem);
    padding-top: 8rem;
}

h1 {
    font-family: "Monoton", sans-serif;
    font-size: 8rem;
    color: rgb(255, 183, 50);
    margin: 0;
    padding: 0;
}

ul {
    font-family: "Poetsen One", sans-serif;
    font-size: 5rem;
    color: rgb(0, 183, 255);
    line-height: 8rem;
    padding-left: 7rem;

}

li {
    list-style-type: decimal-leading-zero;
    text-indent: 2rem;
    margin: 0;
    padding: 0;
}

li:hover {
    color: white;
}

h1:hover {
    letter-spacing: 3rem;
}

